*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .fundoMarrom{
      position: fixed;
      width: 100%;
      height: 12%;
      background: rgba(255, 72, 26, 0.176);
  }

  #img2{
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  #img3{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #imgFuncional{
    display: block;
    position: relative;
    width: 406px;
    height: 261px;
    margin-left: 20%;
    background: url(img/funcional2.png) round;
    border-radius: 10px;
    float: left;
  }
  
  #imgFuncional:hover{
    background: url(img/funcional3.png) round;
  }
  
  #imgMusculacao{
    display: block;
    position: relative;
    width: 406px;
    height: 261px;
    margin-right: 20%;
    background: url(img/musculacao2.png) round;
    border-radius: 20px;
    float: right;
  
  }
  
  #imgMusculacao:hover{
      background: url(img/musculacao3.png) round;
  }
  
  #imgCrosstraining{
    display: block;
    position: relative;
    width: 406px;
    height: 261px;
    margin-left: 20%;
    margin-top: 50px;
    background: url(img/cross2.png) round;
    border-radius: 10px;
    float: left;
    clear: left;
  }
  
  #imgCrosstraining:hover{
      background: url(img/cross3.png) round;
  }
  
  #imgPilates{  
    display: block;
    position: relative;
    width: 406px;
    height: 261px;
    margin-right: 20%;
    margin-top: 50px;
    background: url(img/pilates2.png) round;
    border-radius: 10px;
    float: right;
  }
  
  #imgPilates:hover{
      background: url(img/pilates3.png) round;
  }
  
  #imgDance{
    display: block;
    position: relative;
    width: 406px;
    height: 261px;
    margin-left: 20%;
    margin-top: 50px;
    background: url(img/dance2.png) round;
    border-radius: 10px;
    float: left;
    clear: left;
  }
  
  #imgDance:hover{
    background: url(img/dance3.png) round;
  }
  
  #imgBike{
    position: relative;
    display: block;
    width: 406px;
    height: 261px;
    right: 20%;
    margin-top: 50px;
    margin-bottom: 100px;
    background: url(img/bike2.png) round;
    border-radius: 10px;
    float: right;
  }
  
  #imgBike:hover{
    background: url(img/bike3.png) round;
  }
  
  .plano1{
    display: block;
    position: relative;
    text-align: center;
    margin-left: 20%;
    width: 150px;
    height: 350px;
    border: 1px solid darkgrey;
    padding: 20px;
    border-radius: 8px;
    float: left;
  }

  .plano1:hover{
      transform: scale(1.2,1.2);
  }
  
  .plano2{
    display: block;
    position: relative;
    text-align: center;
    margin-left: 12%;
    width: 150px;
    height: 350px;
    border: 1px solid darkgrey;
    padding: 20px;
    border-radius: 8px;
    float: left;
  }

  .plano2:hover{
    transform: scale(1.2,1.2);
}
  
  .plano3{
    display: block;
    position: relative;
    text-align: center;
    margin-left: 12%;
    width: 150px;
    height: 350px;
    border: 1px solid darkgrey;
    padding: 20px;
    border-radius: 8px;
    float: left;
  }

  .plano3:hover{
    transform: scale(1.2,1.2);
}
  
  #peso64{
    width: 100px;
    height: 100px;
  }
  
  #imgContato{
    clear: both;
    float: left;
    margin-top: 200px;
  }

  #logoFim{
      float: left;
      margin-left: 12%;
      width: 120px;
  }

  #logoMapa, #logoEmail, #logoTelefone{
      float: left;
      margin-left: 5%;
      margin-top: 40px;
  }

  #logoFacebook, #logoInstagram, #logoTwitter{
    float: left;
    margin-left: 5%;
    margin-top: 20px;
  }